.wrapper{
margin:60px 60px;
}
#fixed{
    position: fixed;
    background-color: lightgray;
    Position: fixed;
    height: 70px;
    width: 150px;
    padding: 10px;
    text-align: center
}
#relative {
    background-color:rgba(199, 199, 199, 0.722);
    height: 170px;
    text-align: center
    

}

#absolute{
    position: absolute;
    background: grey;
height:90px;
width: 250px;
right: 30px;
bottom:570px;

}